<app-navigation>
  <app-subnav>
    <span title>Products</span>
    <input 
      (keyup.enter)="search()" [(ngModel)]="query" 
      search class="form-control mr-sm-2" type="search" 
      placeholder="search" aria-label="Search" 
    />
    <button 
      (click)="create()" actions
      class="btn btn-success my-2 my-sm-0"
    >
      Create
    </button>
  </app-subnav>
  <div class="row mb-4">
    <div class="col-md-12">
      <app-empty *ngIf="!products || products.results.length == 0"></app-empty>
      <div *ngIf="products && products.results.length > 0" class="card shadow">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Unit</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products.results">
                <td>{{ product.name }}</td>
                <td>{{ product.unit }}</td>
                <td>{{ product.price | currency:'Rp. ':'symbol':'3.0'  }}</td>
                <td>{{ product.stock }}</td>
                <td>
                  <button (click)="delete(product)" class="btn btn-light btn-sm">Delete</button>
                  <button (click)="update(product)" class="btn btn-outline-success btn-sm ml-2">Edit</button>
                </td>
              </tr>
              <tr *ngIf="products.next" class="bg-light">
                <td (click)="paginate(products.next)" style="cursor: pointer;" class="text-center text-success" colspan="5">
                  More
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-navigation>