<app-navigation>
  <app-subnav subnav>
    <h1>Products</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laborum doloribus cum facere quasi, beatae cupiditate veritatis suscipit voluptatibus praesentium ipsum corrupti tempora in.
    </p>
    <button (click)="create()" class="btn btn-light">
      New Product
    </button>
  </app-subnav>
  <app-empty *ngIf="!products"></app-empty>
  <div *ngIf="products" class="container mt-4" style="margin-top: -75px !important;">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-body">
            <div class="input-group">
              <input 
                type="text"
                (keyup.enter)="search()"
                [(ngModel)]="query"
                class="form-control"
                placeholder="Search products..." 
              />
              <div class="input-group-append">
                <button
                  (click)="search()" 
                  class="btn btn-success"
                  type="button"
                >
                  Search
                </button>
              </div>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li *ngFor="let product of products.results" class="list-group-item">
              <div class="row">
                <div class="col">
                  <h1 class="display-4" style="font-size: 25px;">
                    {{ product.name }}
                  </h1>
                  <p class="lead text-break" style="font-size: 15px;">
                    {{ product.price | currency:'Rp. ':'symbol':'3.0' }} 
                    / {{ product.unit | titlecase  }} with stock {{ product.stock }} {{ product.unit | titlecase }}
                  </p>
                </div>
                <div class="col">
                  <div class="btn-toolbar d-xl-flex justify-content-xl-end">
                      <div role="group" class="btn-group">
                        <button (click)="delete(product)" class="btn btn-outline-success" type="button">
                          Remove
                        </button>
                        <button (click)="update(product)" class="btn btn-success" type="button">
                          Edit
                        </button>
                      </div>
                  </div>
                </div>
              </div>
            </li>
            <li
              *ngIf="products.next" 
              (click)="paginate(products.next)"
              style="cursor: pointer;" 
              class="list-group-item d-xl-flex justify-content-xl-center align-items-xl-center"
            >
              <span class="text-muted">More</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
</app-navigation>