<app-navigation title="Products">
  <button actions (click)="create()" class="btn btn-light my-2 ml-4 my-sm-0">New</button>
  <div content class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <input (keyup.enter)="search()" [(ngModel)]="query" type="search" class="form-control" placeholder="Search products">
            <small class="form-text text-muted">Please press enter when you can search.</small>
          </div>
          <app-empty *ngIf="products && products.results.length == 0"></app-empty>
        </div>
        <ul *ngIf="products && products.results.length > 0" class="list-group list-group-flush">
          <li *ngFor="let prd of products.results" class="list-group-item d-flex justify-content-between align-items-center">
            <span class="text-success">
              {{ prd.name }}
            </span>
            <span class="badge badge-light badge-pill">{{ prd.price | currency }}/{{ prd.unit | uppercase }}</span>
            <span class="badge badge-light badge-pill">
              {{ prd.stock }} in stocks
            </span>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group ml-2" role="group" aria-label="First group">
                <button (click)="delete(prd)" type="button" class="btn btn-light btn-sm">
                  <i-bs name="trash"></i-bs>
                </button>
                <button (click)="update(prd)" type="button" class="btn btn-light btn-sm">
                  <i-bs name="pencil"></i-bs>
                </button>
              </div>
            </div>
          </li>
          <li *ngIf="products.next" (click)="paginate(products.next)" style="cursor: pointer;" class="list-group-item text-center">
            More
          </li>
        </ul>
      </div>
    </div>
  </div>
</app-navigation>