<div role="dialog" tabindex="-1" class="modal d-block">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="jumbotron text-light bg-success border rounded-0 border-success shadow-sm" style="padding-top: 11px;padding-bottom: 11px;margin-bottom: 4px;">
        <h4>{{ supplier.name }}</h4>
        <p>{{ supplier.phone }}</p>
      </div>
      <div class="modal-body">
        <p class="text-danger">
          Are you sure you want to delete? 
          Deleted data cannot be restored anymore.
        </p>
      </div>
      <div class="modal-footer">
        <button (click)="delete()" class="btn btn-light" type="button" data-dismiss="modal">Yes, Sure!</button>
        <button (click)="activeModal.close(false)" class="btn btn-success" type="button">No</button>
      </div>
    </div>
  </div>
</div>