<app-navigation title="Dashboard">
  <div content class="row">
    <div *ngIf="items && items.length > 0" class="col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">The 5 best-selling items</h4>
          <div class="form-group" *ngFor="let item of items">
            <label>{{ item.name }} <span class="badge badge-light badge-pill">{{ item.sold }} sold!</span></label>
            <ngb-progressbar type="success" [value]="item.sum_quantity">
              {{ item.sold }}
            </ngb-progressbar>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Out of stocks</h4>
          <app-empty *ngIf="products && products.results.length == 0"></app-empty>
        </div>
        <ul *ngIf="products && products.results.length > 0" class="list-group list-group-flush">
          <li *ngFor="let product of products.results" class="list-group-item d-flex justify-content-between align-items-center">
            <span class="text-success">
              {{ product.name }}
            </span>
            <span class="badge badge-light badge-pill">{{ product.price | currency }}/{{ product.unit | uppercase }}</span>
            <span class="badge badge-danger badge-pill">
              {{ product.stock }} in stocks
            </span>
          </li>
          <li *ngIf="products.next" (click)="paginateProduct(products.next)" style="cursor: pointer;" class="list-group-item text-center">
            More
          </li>
        </ul>
      </div>
    </div>
  </div>
</app-navigation>