<app-navigation>
  <app-subnav subnav>
    <h1>Dashboard</h1>
    <p>
      Showing to help you make a decision
    </p>
  </app-subnav>
  <div class="container mt-4" style="margin-top: -75px !important;">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-body">
            <div class="row mb-4">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h6 class="text-muted card-subtitle mb-2">Total of suppliers</h6>
                    <h1 class="text-success">500</h1>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h6 class="text-muted card-subtitle mb-2">Total of customers</h6>
                    <h1 class="text-success">3,000</h1>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h6 class="text-muted card-subtitle mb-2">Total of customers</h6>
                    <h1 class="text-success">1,000</h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h6 class="text-muted card-subtitle mb-2">Total of Sales</h6>
                    <h1 class="text-truncate text-success">Rp. 123,000</h1>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h6 class="text-muted card-subtitle mb-2">Total of Purchasing</h6>
                    <h1 class="text-truncate text-success">Rp. 123,000</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</app-navigation>