<app-navigation>
  <app-subnav>
    <span title>Dashboard</span>
    <input search class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button actions class="btn btn-outline-success my-2 my-sm-0">New</button>
  </app-subnav>
  <div class="row mb-4">
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Suppliers</h5>
          <p class="card-text">123,000 Suppliers</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Customers</h5>
          <p class="card-text">123,000 Customers</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Products</h5>
          <p class="card-text">123,000 Products</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Sales Order</h5>
          <p class="card-text">123,000 Sales order</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Purchasing</h5>
          <p class="card-text">123,000 Purchase</p>
        </div>
      </div>
    </div>
  </div>
</app-navigation>