<nav class="navbar mb-4 navbar-light bg-white justify-content-between shadow">
  <a class="navbar-brand">
    <ng-content select="[title]"></ng-content>
  </a>
  <div class="form-inline">
    <!-- 
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    -->
    <!--
      <button class="btn btn-outline-success my-2 my-sm-0">New</button>
    -->
    <ng-content select="[search]"></ng-content>
    <ng-content select="[actions]"></ng-content>
  </div>
</nav>