<div role="dialog" tabindex="-1" class="modal d-block">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Product</h5>
      </div>
      <div class="modal-body">
        <p class="text-danger">
          Are you sure you want to delete <strong>{{ product.name }}</strong>.
          Deleted data cannot be restored anymore.
        </p>
      </div>
      <div class="modal-footer">
        <button (click)="delete()" class="btn btn-light" type="button" data-dismiss="modal">Yes, Sure!</button>
        <button (click)="activeModal.close(false)" class="btn btn-success" type="button">No</button>
      </div>
    </div>
  </div>
</div>