<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Search Product</label>
        <input type="text" class="form-control" />
      </div>
      <div *ngIf="products && products.results.length > 0" class="table-responsive mt-4">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Unit</th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products.results">
              <td>{{ product.name }}</td>
              <td>{{ product.unit }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.stock }}</td>
              <td>
                <button (click)="create(product)" class="btn btn-sm btn-outline-success">Choose</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Unit</th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productTemps">
              <td>{{ product.name }}</td>
              <td>{{ product.unit }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.stock }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>