<div role="dialog" tabindex="-1" class="modal d-block">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Customer</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Customer Name</label>
          <input [(ngModel)]="customer.name" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>Customer Phone</label>
          <input [(ngModel)]="customer.phone" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>Customer Email</label>
          <input [(ngModel)]="customer.email" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>Customer Address</label>
          <textarea [(ngModel)]="customer.address" class="form-control" ></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button 
          (click)="activeModal.dismiss(false)"
          class="btn btn-light" 
          type="button" 
          data-dismiss="modal"
        >
          Close
        </button>
        <button 
          (click)="create()"
          class="btn btn-success" 
          type="button"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>