<div role="dialog" tabindex="-1" class="modal d-block">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="jumbotron text-light bg-success border rounded-0 border-success shadow-sm" style="padding-top: 11px;padding-bottom: 11px;margin-bottom: 4px;">
        <h4>New Supplier</h4>
        <p>Fill in complete data for better results</p>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Supplier Name</label>
          <input [(ngModel)]="supplier.name" type="text" class="bg-light form-control" />
        </div>
        <div class="form-group">
          <label>Supplier Phone</label>
          <input [(ngModel)]="supplier.phone" type="tel" class="bg-light form-control" />
        </div>
        <div class="form-group">
          <label>Supplier Address</label>
          <textarea [(ngModel)]="supplier.address" class="bg-light form-control"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="activeModal.close('Close click')" class="btn btn-light" type="button" data-dismiss="modal">Close</button>
        <button (click)="create()" class="btn btn-success" type="button">Save</button>
      </div>
    </div>
  </div>
</div>
