<div role="dialog" tabindex="-1" class="modal d-block">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Product</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Product Name</label>
          <input [(ngModel)]="product.name" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>Product Unit</label>
          <select 
            [(ngModel)]="product.unit"
            class="custom-select form-control"
            required
          >
            <option value="pcs" selected>Pieces</option>
            <option value="kg">Kilogram</option>
            <option value="box">Box</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label>Product Price</label>
          <input [(ngModel)]="product.price" type="number" class="form-control" required />
        </div>
        <div class="form-group">
          <label>Product Stock</label>
          <input [(ngModel)]="product.stock" type="number" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="activeModal.dismiss(false)" class="btn btn-light" type="button" data-dismiss="modal">Close</button>
        <button (click)="create()" class="btn btn-success" type="button">Save</button>
      </div>
    </div>
  </div>
</div>
