<div *ngIf="supplier" role="dialog" tabindex="-1" class="modal d-block">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Supplier</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Supplier Name</label>
          <input [(ngModel)]="supplier.name" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>Supplier Phone</label>
          <input [(ngModel)]="supplier.phone" type="tel" class="form-control" />
        </div>
        <div class="form-group">
          <label>Supplier Address</label>
          <textarea [(ngModel)]="supplier.address" class="form-control"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="activeModal.close('Close click')" class="btn btn-light" type="button" data-dismiss="modal">Close</button>
        <button (click)="update()" class="btn btn-success" type="button">Save</button>
      </div>
    </div>
  </div>
</div>

