<app-navigation [title]="'Sales Order #' + sale.sale_number ">
  <button actions (click)="create()" class="btn btn-light my-2 ml-4 my-sm-0">Save</button>
  <div content class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Items</h4>
        </div>
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
              <tr class="bg-light">
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>
                  <button (click)="browseProducts()" class="btn btn-sm btn-outline-dark float-right">
                    <i-bs name="search"></i-bs>&nbsp;Products
                  </button>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="!carts">
              <tr>
                <td colspan="5">No data</td>
              </tr>
            </tbody>
            <tbody *ngIf="carts && carts.results.length > 0">
              <tr *ngFor="let cart of carts.results"> 
                <td class="text-success text-sm-left">{{ cart.name }} {{ cart.stock }}{{ cart.unit }}</td>
                <td>{{ cart.price | currency }}</td>
                <td>
                  <input [(ngModel)]="cart.quantity" (keyup.enter)="updateCart(cart)" type="number" class="form-control form-control-sm col-3" />
                  <small class="help text-muted">Press enter after fill</small>
                </td>
                <td>{{ cart.subtotal | currency }}</td>
                <td>
                  <button (click)="deleteCart(cart)" class="btn btn-sm btn-light float-right">
                    <i-bs name="trash-fill"></i-bs>
                  </button>
                </td>
              </tr>
              <tr *ngIf="cartSummary">
                <td>Total</td>
                <td colspan="3" class="text-right">{{ cartSummary.summary | currency }}</td>
                <td></td>
              </tr>
            </tbody>
            
            <tbody *ngIf="carts && carts.results.length == 0">
              <tr>
                <td colspan="5">Not found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title">Payment</h4>
        </div>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>Total Price</th>
                <td>{{ sale.total_after | currency }}</td>
              </tr>
              <tr>
                <th>Discount</th>
                <td>
                  <input [(ngModel)]="sale.discount" (keyup)="calculate()" type="number" class="form-control form-control-sm col-4" />
                </td>
              </tr>
              <tr>
                <th>Tax</th>
                <td>
                  <input [(ngModel)]="sale.tax" (keyup)="calculate()" type="number" class="form-control form-control-sm col-4" />
                </td>
              </tr>
              <tr>
                <th>Pay</th>
                <td>
                  <input [(ngModel)]="sale.pay" (keyup)="calculate()" type="number" class="form-control form-control-sm col-4" />
                </td>
              </tr>
              <tr>
                <th>Change</th>
                <td>{{ sale.change | currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div *ngIf="!customer" class="card">
        <div class="card-body">
          <h4 class="card-title">Customer</h4>
          <button (click)="browseCustomer()" class="btn btn-outline-dark btn-sm">
            <i-bs name="search"></i-bs>&nbsp;Customer
          </button>
        </div>
      </div>
      <div *ngIf="customer" class="card">
        <div class="card-body">
          <h4 class="card-title">Customer</h4>
          <p class="card-text text-success">
            {{ customer.name }}
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ customer.phone }}</li>
          <li class="list-group-item">{{ customer.email }}</li>
          <li class="list-group-item text-truncate">{{ customer.address }}</li>
        </ul>
        <div class="card-body">
          <button (click)="browseCustomer()" class="btn btn-outline-dark btn-sm">
            <i-bs name="search"></i-bs>&nbsp;Customer
          </button>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <div class="form-group">
            <label>Sales Number</label>
            <input [(ngModel)]="sale.sale_number" type="text" class="form-control">
          </div>
          <div class="form-group">
            <ngb-datepicker #dp [(ngModel)]="date"></ngb-datepicker>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navigation>