<nav class="navbar navbar-dark navbar-expand-md bg-success shadow">
  <div class="container"><a class="navbar-brand" href="#">Nienti</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse"
          id="navcol-1">
          <ul class="nav navbar-nav">
              <li role="presentation" class="nav-item"></li>
              <li role="presentation" class="nav-item"></li>
              <li role="presentation" class="nav-item"></li>
          </ul><button class="btn btn-outline-light btn-sm ml-auto" type="button">My Account</button></div>
  </div>
</nav>