<div class="container-fluid my-4">
  <div class="row">
    <div class="col-md-3">
      <div class="card shadow mb-4">
        <div class="card-body">
          <h5 class="card-title">Nienti</h5>
          <p class="card-text">Sales & Purchasing Software</p>
        </div>
      </div>
      <div class="card shadow mb-4">
        <div class="card-body">
          <h5 class="card-title">Application</h5>
        </div>
        <div class="list-group list-group-flush">
          <button [routerLink]="['/dashboard']" type="button" class="list-group-item list-group-item-action">
            Dashboards
          </button>
          <button [routerLink]="['/suppliers']" type="button" class="list-group-item list-group-item-action">
            Suppliers
          </button>
          <button [routerLink]="['/suppliers']" type="button" class="list-group-item list-group-item-action">
            Customers
          </button>
          <button [routerLink]="['/products']" type="button" class="list-group-item list-group-item-action">
            Products
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <ng-content></ng-content>
      <ng-content></ng-content>
    </div>
  </div>
</div>

