<app-navigation>
  <app-subnav>
    <span title>Customers</span>
    <input (keyup.enter)="search()" [(ngModel)]="query" search class="form-control mr-sm-2" type="search" placeholder="search" aria-label="Search" />
    <button (click)="create()" actions class="btn btn-success my-2 my-sm-0">Create</button>
  </app-subnav>
  <div class="row mb-4">
    <div class="col-md-12">
      <app-empty *ngIf="!customers || customers.results.length == 0"></app-empty>
      <div *ngIf="customers && customers.results.length > 0" class="card shadow">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customers.results">
                <td>{{ customer.name }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.email }}</td>
                <td class="text-truncate">{{ customer.address }}</td>
                <td>
                  <button (click)="delete(customer)" class="btn btn-light btn-sm">Delete</button>
                  <button (click)="update(customer)" class="btn btn-outline-success btn-sm ml-2">Edit</button>
                </td>
              </tr>
              <tr *ngIf="customers.next" class="bg-light">
                <td (click)="paginate(customers.next)" style="cursor: pointer;" class="text-center text-success" colspan="5">
                  More
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-navigation>